.lapRecord {
    margin-top: 20px;
}

.laps {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    scroll-behavior: smooth;
    position: relative;
    background-color: wheat;
    border-radius: 6px;
    height: 15rem;
    font-family: "nunito", "poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 
    3px 3px 0px rgba(150, 150, 150, 1);

    text-align: center;
    color: black;
    overflow-y: scroll;
    box-shadow: 4px 4px 0px #be7016;
}
.laps::-webkit-scrollbar {
    width: 10px;
}
.laps::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6px;
}
.laps::-webkit-scrollbar-thumb {
    background-color: #3b85ed;
    border-radius: 6px;
}
.laps::-webkit-scrollbar-thumb:hover {
    background-color: #224f8f;
    border-radius: 6px;
}
