.timerDisplay{
    position: relative;
    width: 110%;
    background: linear-gradient(
        -135deg,#0048ce,#008bfd
    );
    font-family: 'Roboto mono',monospace;
    left: -5%;
    padding: 40px 0;
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
}