*,
*:before,
*:after{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}
.container{
    background-color:#141313;
   position: absolute;
    width: 40px;
    min-width: 500px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 60px 0;
    border-radius: 10px;
}

